@font-face
{
    font-family: crash;
    src: url("Fonts/crashFont.ttf");
}

@font-face
{
    font-family: komika;
    src: url("Fonts/komika.ttf");
}

#topScreen{
    border-style: ridge;
    border-color: crimson;
    background-color: black;
    height: 608px;
    width: 1080px;
    border-width: 20px;
    position: absolute;
    left: -0px;
    top: -1px;
}
#bottomScreen{
    border-style: ridge;
    border-color: lime;
    background-color: black;
    border-width: 20px;
    height: 608px;
    width: 1080px;
    position: absolute;
    left: -0px;
    top: 647px;
}

#botImg
{
    height: 100%;
    width: 100%;
}

#topVideo
{
    height: inherit;
    width: inherit;
}

#introText
{
    font-family: crash;
    font-size: 72pt;
    color: orangered;
    stroke: gray;
    stroke-width: 10pt;
    text-align: center;
}

body{
    background-color: cornflowerblue;
}

#saveDataMessage
{
    position: absolute;
    top: 400px;
    left: 100px;
    z-index: 5;
    font-family: komika;
    color: ivory;
    stroke: dodgerblue;
    stroke-width: 5px;
    font-size: 48pt;
    text-align: center;
}